html, body {
  font-family: $mainFont;
  font-weight: 300;
  color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  &:link {
<<<<<<< HEAD

=======
    color: $linkColor;
    text-decoration: underline;
  }
  &:visited {
    color: $linkColor;
  }
  &:hover, &:active {
    text-decoration: none;
>>>>>>> Adding improvements to variables and base
  }
  &:visited {

  }
  &:hover, &:active {

  }
}

<<<<<<< HEAD
p {
  margin: 0;
}

=======
>>>>>>> Adding improvements to variables and base
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.middle {
  @extend %inline-block;
  vertical-align: middle;
}