html, body {
  font-family: $mainFont;
  color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $linkColor;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0;
}

figure {
  @extend %inline-block;
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.middle {
  @extend %inline-block;
  vertical-align: middle;
}

.info-text {
  color: $secondaryColor;
  font-size: 11px;
  font-style: italic;
  vertical-align: top;
}