$mainTextColor:         #444444;
$linkColor:             #2699de;

$brand-primary:         #2d98d4;
$brand-success:         #1abc9c;
$brand-warning:         #e67e22;
$brand-info:            #f6bd09;
$brand-grey:            #eef3f5;

$btn-primary:           #2980b9;
$btn-success:           #16a085;
$btn-warning:           #d35400;

//FONTS
$mainFont:              'Exo 2', sans-serif;
$headerFont:            'Comfortaa', sans-serif;

//SIZES
$layoutWidth:           1000px;
