<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/master.css">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,200|Comfortaa' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="../css/ie8.css">
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="../css/lteie9.css">
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="container">
      <div class="row">
        <div class="col-md-5 pt10">
          <a href="/"><img src="../img/logo.png" alt=""></a>
        </div>
        <div class="col-md-5">
          <ul class="list-inline main-menu">
            <li><a href="">Услуги</a></li>
            <li><a href="">Портфолио</a></li>
            <li><a href="">Блог</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
        <div class="col-md-2 pt15">
          <ul class="list-unstyled text-center">
            <li>(066) 660-49-29</li>
            <li>(066) 660-49-39</li>
            <li>&nbsp;<a href="">Написать нам</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="promo-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled promo-list">
              <li>
                <i class="promo-list-icon"></i>
                <h2>Аудит сайта</h2>
                <p>Первые шаги для роста ваших продаж</p>
              </li>
              <li>
                <i class="promo-list-icon"></i>
                <h2>Оптимизация</h2>
                <p>Залог нашего успеха — это соблюдение<br>стандартов</p>
              </li>
              <li>
                <i class="promo-list-icon"></i>
                <h2>SEO-продвижение</h2>
                <p>Лучшее продвижение сайта для<br>вашего бизнеса</p>
              </li>
            </ul>
            <a href="" class="btn btn-large">Заказать консультацию</a>
          </div>
          <div class="col-md-6 pt15">
            <img src="../img/display.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-12"><h2>Наши услуги</h2></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="price-table price-table-success mt20">
              <h3>Пакет "Эконом"</h3>
              <div class="price">190$</div>
              <div class="arrow-down"></div>
              <a href="" class="btn btn-success btn-medium mb5">Заказать</a>
              <ul class="list-unstyled price-table-list">
                <li>Мы оказываем супер-услуги</li>
                <li>Спасаем мир и котят</li>
                <li>И всё это почти бесплатно</li>
                <li><a href="">Детали</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 pl5 pr0">
            <div class="price-table price-table-primary price-table-large">
              <h3>Пакет "Бизнес"</h3>
              <div class="price"><span>300$</span>210$</div>
              <div class="arrow-down"></div>
              <a href="" class="btn btn-primary btn-large pl50 pr50 mb5">Заказать</a>
              <ul class="list-unstyled price-table-list">
                <li>Мы оказываем супер-услуги</li>
                <li>Спасаем мир и котят</li>
                <li>И всё это почти бесплатно</li>
                <li><a href="">Детали</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="price-table price-table-warning right mt20">
              <h3>Пакет "Премиум"</h3>
              <div class="price">340$</div>
              <div class="arrow-down"></div>
              <a href="" class="btn btn-warning btn-medium mb5">Заказать</a>
              <ul class="list-unstyled price-table-list">
                <li>Мы оказываем супер-услуги</li>
                <li>Спасаем мир и котят</li>
                <li>И всё это почти бесплатно</li>
                <li><a href="">Детали</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><h2>Наши преимущества</h2></div>
        </div>
        <div class="row">
          <div class="col-md-3 text-center">
            <img src="../img/icons/icon-chest.png" alt="">
            <h3>Надёжность</h3>
            <p class="text-left">На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту.</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="../img/icons/icon-ribbon.png" alt="">
            <h3>Качество</h3>
            <p class="text-left">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в насекомое. </p>
          </div>
          <div class="col-md-3 text-center">
            <img src="../img/icons/icon-coins.png" alt="">
            <h3>Цена</h3>
            <p class="text-left">Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.</p>
          </div>
          <div class="col-md-3 text-center">
            <img src="../img/icons/icon-stopwatch.png" alt="">
            <h3>Скорость</h3>
            <p class="text-left">Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"><h2>Отзывы</h2></div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </div>

        <div class="row">
          <div class="col-md-12"><h2>Наш блог</h2></div>
        </div>
        <div class="row">
          <div class="col-md-12"></div>
        </div>

        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
        </div>

        <div class="row">
          <div class="col-md-12"></div>
        </div>

        <div class="row">
          <div class="col-md-12"><h2>Наши клиенты</h2></div>
        </div>

      </div>
    </main>

    <footer></footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
