<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/master.css">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,200|Comfortaa' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="../css/ie8.css">
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="../css/lteie9.css">
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="container">
      <div class="row">
        <div class="col-md-5 pt10">
          <a href="/"><img src="../img/logo.png" alt=""></a>
        </div>
        <div class="col-md-5">
          <ul class="list-inline main-menu">
            <li><a href="">Услуги</a></li>
            <li><a href="">Портфолио</a></li>
            <li><a href="">Блог</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
        </div>
        <div class="col-md-2 pt15">
          <ul class="list-unstyled text-center">
            <li>(066) 660-49-29</li>
            <li>(066) 660-49-39</li>
            <li>&nbsp;<a href="">Написать нам</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="promo-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled promo-list">
              <li class="bordered">
                <i class="promo-list-icon icon-graduation-cap"></i>
                <div>
                  <h2>Аудит сайта</h2>
                  <p>Первые шаги для роста ваших продаж</p>
                </div>
              </li>
              <li class="bordered">
                <i class="promo-list-icon icon-gauge"></i>
                <div>
                  <h2>Оптимизация</h2>
                  <p>Залог нашего успеха — это соблюдение<br>стандартов</p>
                </div>
              </li>
              <li>
                <i class="promo-list-icon icon-flag"></i>
                <div>
                  <h2>SEO-продвижение</h2>
                  <p>Лучшее продвижение сайта для<br>вашего бизнеса</p>
                </div>
              </li>
            </ul>
            <a href="" class="btn btn-large promo-btn">Заказать консультацию</a>
          </div>
          <div class="col-md-6 pt15">
            <img src="../img/display.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="container service">
        <div class="row">
          <div class="col-md-12"><h2>Наши услуги</h2></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="price-table price-table-success mt20">
              <h3>Пакет "Эконом"</h3>
              <div class="price">190$</div>
              <div class="arrow-down"></div>
              <a href="" class="btn btn-success btn-medium mb5">Заказать</a>
              <ul class="list-unstyled price-table-list">
                <li>Мы оказываем супер-услуги</li>
                <li>Спасаем мир и котят</li>
                <li>И всё это почти бесплатно</li>
                <li><a href="">Детали</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 pl5 pr0">
            <div class="price-table price-table-primary price-table-large">
              <h3>Пакет "Бизнес"</h3>
              <div class="price"><span>300$</span>210$</div>
              <div class="arrow-down"></div>
              <a href="" class="btn btn-primary btn-large pl50 pr50 mb5">Заказать</a>
              <ul class="list-unstyled price-table-list">
                <li>Мы оказываем супер-услуги</li>
                <li>Спасаем мир и котят</li>
                <li>И всё это почти бесплатно</li>
                <li><a href="">Детали</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="price-table price-table-warning right mt20">
              <h3>Пакет "Премиум"</h3>
              <div class="price">340$</div>
              <div class="arrow-down"></div>
              <a href="" class="btn btn-warning btn-medium mb5">Заказать</a>
              <ul class="list-unstyled price-table-list">
                <li>Мы оказываем супер-услуги</li>
                <li>Спасаем мир и котят</li>
                <li>И всё это почти бесплатно</li>
                <li><a href="">Детали</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="advantage">
        <div class="advantage-part"></div>
        <div class="container">
          <h2 class="advantage-title">Наши преимущества</h2>
          <div class="row">
            <div class="col-md-3 text-center rely">
              <div class="advantage-img">
                <img src="../img/icons/icon-chest.png" alt="">
              </div>
              <h3>Надёжность</h3>
              <p class="text-left">На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту.</p>
            </div>
            <div class="col-md-3 text-center quality">
              <div class="advantage-img">
                <img src="../img/icons/icon-ribbon.png" alt="">
              </div>
              <h3>Качество</h3>
              <p class="text-left">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в насекомое. </p>
            </div>
            <div class="col-md-3 text-center price">
              <div class="advantage-img">
                <img src="../img/icons/icon-coins.png" alt="">
              </div>
              <h3>Цена</h3>
              <p class="text-left">Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.</p>
            </div>
            <div class="col-md-3 text-center speed">
              <div class="advantage-img">
                <img src="../img/icons/icon-stopwatch.png" alt="" class="mb10">
              </div>
              <h3>Скорость</h3>
              <p class="text-left">Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. </p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="container review">
        <div class="row">
          <div class="col-md-12"><h2>Отзывы</h2></div>
        </div>
        <div class="row pb30">
          <div class="col-md-6">
            <div class="rounded-img left"><img src="../img/review/reviewer1.png" alt=""></div>
            <h5>Кара Трейс:</h5>
            <p>“Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты”.</p>
          </div>
          <div class="col-md-6">
            <div class="rounded-img left"><img src="../img/review/reviewer2.png" alt=""></div>
            <h5>Антон Иванов:</h5>
            <p>“Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами”.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="rounded-img left"><img src="../img/review/reviewer2.png" alt=""></div>
            <h5>Антон Иванов:</h5>
            <p>“Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами”.</p>
          </div>
          <div class="col-md-6">
            <div class="rounded-img left"><img src="../img/review/reviewer1.png" alt=""></div>
            <h5>Кара Трейс:</h5>
            <p>“Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты”.</p>
          </div>
        </div>
      </div>
      <div class="blog">
        <div class="container blog-deco-container">
          <div class="blog-deco"></div>
          <div class="row">
            <div class="col-md-12"><h2>Наш блог</h2></div>
          </div>

          <!-- Full-width article with long photo -->
          <div class="blog-post row">
            <div class="blog-post-img on-left col-md-8">
              <div class="rounded-img">
                <img src="../img/blog/first.png" alt="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-post-text on-right">
                <h3>Статья с большим фото</h3>
                <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                <div class="blog-buttons">
                  <div class="left pt5">
                    <a href="" class="blog-btn"><i class="icon-thumbs-up"></i></a>
                    <a href="" class="blog-btn"><i class="icon-twitter"></i></a>
                  </div>
                  <div class="right pt5">
                    <a href="" class="blog-btn"><i class="icon-right"></i></a>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Two articles -->
          <div class="row">
            <div class="col-md-8">
            <!-- Article half text and half image -->
              <div class="blog-post row">
                <div class="blog-post-img col-md-6 on-left">
                  <div class="rounded-img">
                    <img src="../img/blog/second.png" alt="">
                  </div>
                </div>
                <div class="col-md-6 pl0">
                  <div class="blog-post-text on-right">
                    <h3>Средняя версия статьи</h3>
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                    <div class="blog-buttons">
                      <div class="left pt5">
                        <a href="" class="blog-btn"><i class="icon-thumbs-up"></i></a>
                        <a href="" class="blog-btn"><i class="icon-twitter"></i></a>
                      </div>
                      <div class="right pt5">
                        <a href="" class="blog-btn"><i class="icon-right"></i></a>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- Article without photo -->
              <div class="blog-post row">
                <div class="col-md-12">
                  <div class="blog-post-text">
                    <h3>Статья без фото</h3>
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                    <div class="blog-buttons">
                      <div class="left pt5">
                        <a href="" class="blog-btn"><i class="icon-thumbs-up"></i></a>
                        <a href="" class="blog-btn"><i class="icon-twitter"></i></a>
                      </div>
                      <div class="right pt5">
                        <a href="" class="blog-btn"><i class="icon-right"></i></a>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Full-width article with short photo -->
          <div class="blog-post row">
            <div class="col-md-8">
              <div class="blog-post-text on-left">
                <h3>Начало статьи в две колонки</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                  </div>
                  <div class="col-md-6">
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                  </div>
                </div>
                <div class="blog-buttons">
                  <div class="left pt5">
                    <a href="" class="blog-btn"><i class="icon-thumbs-up"></i></a>
                    <a href="" class="blog-btn"><i class="icon-twitter"></i></a>
                  </div>
                  <div class="right pt5">
                    <a href="" class="blog-btn"><i class="icon-right"></i></a>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="blog-post-img col-md-4 on-right">
              <div class="rounded-img">
                <img src="../img/blog/third.png" alt="">
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-4">
              <div class="blog-post row">
                <div class="col-md-12">
                  <div class="blog-post-text">
                    <h3>Статья без фото</h3>
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-post row">
                <div class="col-md-12">
                  <div class="blog-post-text">
                    <h3>Статья без фото</h3>
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="blog-post row">
                <div class="col-md-12">
                  <div class="blog-post-text">
                    <h3>Статья без фото</h3>
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="blog-post row">
                <div class="col-md-12">
                  <div class="blog-post-text">
                    <h3>Статья без фото</h3>
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="blog-post row">
                <div class="col-md-6">
                  <div class="blog-post-text on-left">
                    <h3>Средняя версия статьи</h3>
                    <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной...</p>
                  </div>
                </div>
                <div class="blog-post-img col-md-6 on-right">
                  <div class="rounded-img">
                    <img src="../img/blog/third.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row"><div class="col-md-12 text-right">
            <a href="" class="all-posts">Все статьи</a>
          </div></div>
        </div>
      </div>
      <div class="container pb30 clients">
        <div class="row">
          <div class="col-md-12"><h2>Наши клиенты</h2></div>
        </div>
        <div class="row">
          <div class="col-md-12 clients">
            <img src="../img/clients/logo1.jpg" alt="">
            <img src="../img/clients/logo2.jpg" alt="">
            <img src="../img/clients/logo3.jpg" alt="">
            <img src="../img/clients/logo4.jpg" alt="">
            <img src="../img/clients/logo5.jpg" alt="">
            <span class="justifier"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 clients">
            <img src="../img/clients/logo6.jpg" alt="">
            <img src="../img/clients/logo7.jpg" alt="">
            <img src="../img/clients/logo8.jpg" alt="">
            <img src="../img/clients/logo9.jpg" alt="">
            <img src="../img/clients/logo10.jpg" alt="">
            <span class="justifier"></span>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 pr0">
            <ul class="list-inline">
              <li><a href="">Услуги</a></li>
              <li><a href="">Портфолио</a></li>
              <li><a href="">Блог</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
            <p class="social">
              <a href=""><i class="icon-facebook-squared"></i></a>
              <a href=""><i class="icon-twitter-squared"></i></a>
              <a href=""><i class="icon-vkontakte"></i></a>
            </p>
            <p>
              © Sierra Group<br>
              © Design by Tamara Bazko
            </p>
          </div>
          <div class="col-md-3 pl0 pr0">
            <h4>Техническая поддержка</h4>
            <p>+38 (044) 539-3139</p>
            <p>+38 (066) 660-4929</p>
            <br>
            <h4>Отдел по работе с клиентами</h4>
            <p>+38 (044) 539-3138</p>
            <p>+38 (066) 660-4939</p>
          </div>
          <div class="col-md-3 pl0">
            <div class="right">
              <h4>Адрес:</h4>
              <p>08130 Украина<br>
                Киевская область,<br>
                Киево-Святошинский район,<br>
                п.Чайки, ул. В.Чайки 16,<br>
                офис 607 БЦ «ЮТА Сервис»</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
